<h2>Login</h2>
<form {{action "login" on="submit"}}>
  {{input type="text" value=model.userName}}<br /><br />
  {{input type="password" value=model.password}}<br /><br />
  <button type="submit">Login</button><br /><br />
</form>
